.error-container {

  height:auto;
width:100%;
  //background-color: whitesmoke;
  margin-top: 2rem;
  padding:1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:auto;
}

.response-row {
  margin-top: 2rem;
  margin-bottom:auto;
  //height: 5em;
  z-index: 100;
  bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  text-align: center;
  .error-message,
  .response-message {
    background-color: white;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.response-message {
  font-size: 13pt;
  color: rgb(14, 117, 0);
}

