<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz edytowania roli</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="name">Nazwa</label>
            <input type="text" data-pattern="^[A-ZĄĘŹŻŁÓŁ]{1}[a-ząęźżół]{2,}$" @input="validField(role.name,inputsNumber,0,$event)" :class="{'error': inputsNumber[0]===0, 'success': inputsNumber[0]===1}"
              class="form-control" placeholder="Podaj nazwę tagu" v-model="role.name">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.name}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Edytuj rolę</button>
      </div>
    </form>
  </div>
</template>

<script>
 import { mapGetters, mapMutations, mapActions } from "vuex";
 import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
 export default {
  data() {
     return {
       valid: false,
       errors: {
         name: "Podaj poprawną nazwę dla roli!",
       },
       INVALID: INVALID,
       VALID: VALID,
       UNTESTED: UNTESTED
     };

   },
   computed: {
     ...mapGetters({
       roles: 'roles',
       success: "success",
       role: "role",
       refresh: "refresh",
       inputsNumber: "inputsNumber",
       validationPassed: 'validationPassed',
       error: 'error'
     })
   },
   methods: {
     ...mapMutations(["ROLE"]),
     ...mapActions({
       getRole: "role",
       validFormField: "validFormField",
       prepareArray: "prepareArray",
       validateForm: 'validateForm',
       downloadRoles: 'roles',
       updateRole: 'updateRole'
     }),
     checkFormBeforeSubmit() {
       this.validateForm();
       if (this.validationPassed === true)
         this.updateRole(this.role);
     },
     validField(name, inputsNumber, inputNumber, event) {
       this.validFormField([
         name,
         inputsNumber,
         inputNumber,
         event.target.attributes["data-pattern"].value
       ]);
     },
   },
   watch: {
     refresh() {
       this.$emit('changeResponseTitle', this.success);
       this.$router.push({
         name: 'roles'
       });
     },
     error() {
       this.$emit('changeTitle', this.error.message);
     }
   },
   created() {
     this.prepareArray([1, VALID]);
     this.getRole(this.$route.params.id);
     this.role;
   },
 }
</script>
 
<style> 
</style>
 