<template>
  <div class='users'>
    <table class='table table-dark'>
      <thead class="thead-light">
        <tr class="row">
          <th @click="sort('id',0)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            <span v-bind:class="this.order == 1 && this.orderIcons[0] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">ID</span>
          </th>
          <th @click="sort('name',1)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            <span v-bind:class="this.order == 1 && this.orderIcons[1] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Nazwa roli</span>
          </th>
          <th @click="sort('created_at',2)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            <span v-bind:class="this.order == 1 && this.orderIcons[2] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Utworzono</span>
          </th>
          <th @click="sort('updated_at',3)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            <span v-bind:class="this.order == 1 && this.orderIcons[3] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Edytowano</span>
          </th>
          <th @click="sort('deleted_at',4)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[4] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Usunięto</span>
          </th>
          <th scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            Edytuj
          </th>
          <th scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            Usuń
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" v-for="role in paginatedData" :key="role.id">
          <td class="col-lg-2 col-md-3 col-sm-4 col-4" scope v-for="(item,index) in role" v-bind:key="index">{{ item }} </td>
          <td class="col-lg-2 col-md-3 col-sm-4 col-4">
            <router-link :to="{path: `roles/${role.id}/edit`}">
              <button id="myButton" class='btn btn-secondary btn-list'>Edytuj</button>
            </router-link>
          </td>
          <td class="col-lg-2 col-md-3 col-sm-4 col-4">
            <button class='btn btn-list btn-danger' @click="deleteSelectedRole(role.id)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div :key="pageNumber" id="pagination-container-list">
      <button :disabled="pageNumber==0" :class="{'btn-disabled' : pageNumber == 0}" @click="prevPage">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
      </button>
      <b>{{pageNumber+1}} .. {{pageCount+1}} </b>
      <button :disabled="pageNumber > pageCount -1" :class="{'btn-disabled' : pageNumber == pageCount}" @click="nextPage">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  props: {
    size: {
      type: Number,
      required: false,
      default: 4
    }
  },
  data() {
    return {
      pageNumber: 0
    };
  },
  computed: {
    ...mapGetters(["roles", "order", "success", "orderIcons", "refresh"]),
    pageCount() {
      let l = this.roles.length,
        s = this.size;
      return Math.floor(l / s);
    },
    paginatedData() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.roles.slice(start, end);
    }
  },
  methods: {
    ...mapMutations({
      setOrder: "ORDER"
    }),
    ...mapActions({
      downloadRoles: "roles",
      deleteRole: "deleteRole",
      prepareOrderIcons: "prepareOrderIcons",
      sortList: "sortList"
    }),

    deleteSelectedRole(id) {
      this.deleteRole(id);
    },

    sort(selectedValue, selectedColumnIndex) {
      this.sortList([selectedValue, this.roles]);
      this.setOrder(selectedColumnIndex);
    },
    nextPage() {
      this.pageNumber++;
    },
    prevPage() {
      this.pageNumber--;
    }
  },
  watch: {
    refresh() {
      this.downloadRoles();
      this.$emit("changeResponseTitle", this.success);
    },
    order() {
      this.roles.reverse();
    }
  },
  created() {
    this.downloadRoles();
    this.prepareOrderIcons(5);
  }
}; 
</script>

<style>
</style>
