<template>
  <div id=" basket-list" class="container register-container">
    <div class="row">
      <div v-if="this.productCount==0" class='response-row col-12'>
        <p class='error-message'>
          <b>Twój koszyk jest pusty</b>
          <br/>
          <router-link to="products">Powróć do strony głównej</router-link>
        </p>
      </div>
    </div>
    <div class='row products-list-header text-left'>
      <div class="col-lg-6 col-md-6 col-6">
        <span class="product-name-header">Nazwa produktu</span>
      </div>
      <div class="col-lg-2 col-md-2 col-">
        <span class="product-name-header">Ilość</span>
      </div>
      <div class="col-lg-2 col-md-2 col-">
        <span class="product-name-header">Cena</span>
      </div>
      <div class="col-lg-2 col-md-2 col-">
        <span class="product-name-header">Razem</span>
      </div>
    </div>
    <div class='row products-list-body text-left' v-for="product in basket" :key="product.id">
      <div class="col-lg-6 col-md-6 col-6">
        <span class="product-name-header">
          <router-link :to="{path: `smartphones/${product.id}`}">{{product.manufacturer.name}} {{product.name}}</router-link>
        </span>
      </div>
      <div class="col-lg-2 col-md-2 col-">
        <span class="product-name-header"> {{Number(product.count)}}</span>
      </div>
      <div class="col-lg-2 col-md-2 col-">
        <span class="product-name-header"> {{product.price  | toFixed(2) | toPLN}} </span>
      </div>
      <div class="col-lg-2 col-md-2 col-">
        <span class="product-name-header"> {{(product.price * product.count) | toFixed(2) | toPLN}}</span>
      </div>
    </div>
    <div class='col-lg-3 col-md-3 col-sm-3 checkout-summary'>
      <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
        <div class="form-group row">
          <label for="payment">Metoda płatności</label>
          <select id="payments" class="form-control" v-model="payments.id" name="payment" data-pattern="^([a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]{3,}\s*[a-zA-ZZąćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9]{1,})$"
            @change="validSelectField(inputsNumber,0,$event)" :class="{'error': inputsNumber[0]=== UNTESTED || inputsNumber[0]=== INVALID , 'success': inputsNumber[0]=== VALID}"
            autofocus>
            <option v-for="payment in payments" :value="payment.id" :key="payment.id">
              {{ payment.name }} - {{ payment.price | toFixed(2) | toPLN}}
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.payment}}</span>
          </transition>
        </div>
        <div class='row summary'>
          <span class="price-summary"> Wartość produktów: {{calcTotalPrice | toFixed(2) | toPLN}}
            <br/>
            <button class="btn btn-secondary btn-list" title="Zamawiam i płacę">
              <i class="fontello fontello-minimize-size icon-shopping-light"></i>
              <span>Zamawiam i płacę</span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
 data() {
     return {
       totalPrice:0,
       valid: false,
       errors: {
         payment: "Wybierz rodzaj płatności!",
       },
       INVALID: INVALID,
       VALID: VALID,
       UNTESTED: UNTESTED
     };
   },
   computed: {
     ...mapGetters(["productCount", "payments", "payment", "order", "basket", "refresh", "error", "success", "inputsNumber", 'validationPassed']),
     calcTotalPrice() {
       let totalPrice = 0;
       this.basket.forEach(function (product) {
         totalPrice += product.count * product.price;
       });
       this.order.total_price = totalPrice;
       return totalPrice;
     }
   },
   missingText: function () {
     return true;
   },
   methods: {
     ...mapActions({
       validFormField: "validFormField",
       prepareArray: "prepareArray",
       validateForm: 'validateForm',
       validSelectFormField: "validSelectFormField",
       downloadPaymentsMethod: "payments",
       addOrder: "storeOrder",
       clearBasket: "clearBasket"
     }),
     ...mapMutations(['USER', 'PUSHRESPONSE']),
     validSelectField(inputsNumber, inputIndex, event) {
       const paymentPrice = this.payments[event.target.value-1].price;
       this.addPaymentMethodToTotalPrice(paymentPrice);
       this.validSelectFormField([inputsNumber, inputIndex, event.target]);
     },
     checkFormBeforeSubmit() {
       this.validateForm();
       if (this.validationPassed === true)
         this.addOrder({
           'payment': this.payment,
           'total_price': this.calcTotalPrice,
           'orderSmartphones': this.basket,
         });
     },
     addPaymentMethodToTotalPrice(price){
       let totalPrice = 0;
       this.basket.forEach(function (product) {
         totalPrice += product.count * product.price;
       });

       this.order.total_price = totalPrice + price;
        this.totalPrice = this.order.total_price;
       return this.totalPrice;
     }
   },
   watch: {
     refresh() {
       this.$emit('changeResponseTitle', this.success);
       this.clearBasket();
       this.$router.push({
         name: 'products'
       });
     },
   },
   created() {
     this.totalPrice = this.order.total_price;
     this.prepareArray([1, UNTESTED]);
     this.downloadPaymentsMethod();
   }
 };
</script>

<style scoped>
.checkout-summary {
  margin-top: 1rem;
  padding: 1rem;
}

.form-group>select {
  font-size: 12pt;
  margin-bottom: 0.5rem;
  padding-bottom:0;
  padding-top:0;
  width:35rem;
}

.price-summary {
  margin-left: 0;
  color: black;
  margin-left: .5rem;
  padding: 1rem;
  text-align: left;
}

.summary {
  border-top: 1px solid lightgray;
}
</style>


