<template>
  <div id=" basket-list" class="container register-container">
    <div class="row">
      <div v-if="this.productCount==0" class='response-row col-lg-12'>
        <p class='error-message'>
          <b>Twój koszyk jest pusty</b>
          <br/>
          <router-link to="products">Powróć do strony głównej</router-link>
        </p>
      </div>
    </div>
    <div class='row products-list-header text-center'>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
        <span class="product-name-header">Nazwa produktu</span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-6">
        <span class="product-name-header">Ilość</span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-6">
        <span class="product-name-header">Cena</span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-6">
        <span class="product-name-header">Razem</span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-6">
        <span class="product-name-header">Usuń produkt z koszyka</span>
      </div>
    </div>
    <div class='row products-list-body text-center' v-for="product in basket" :key="product.id">
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
        <span class="product-name-header">
          <router-link :to="{path: `smartphones/${product.id}`}">{{product.manufacturer.name}} {{product.name}}</router-link>
        </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-6">
        <span class="product-name-header"> {{Number(product.count)}}</span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-6">
        <span class="product-name-header"> {{product.price | toFixed(2) | toPLN}} </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-6">
        <span class="product-name-header"> {{(product.price * product.count) | toFixed(2) | toPLN}}</span>
      </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-6">
        <button class=' product-name-header remove-btn' @click="deleteSelectedProductFromOrder(product.id)"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
    <div class='row summary'>
      <span class="products-url col-lg-5 col-md-5 text-md-left text-lg-left text-sm-center col-sm-12">
        <br/>
        <router-link :to="{name:'products'}">
          <button class="btn btn-secondary btn-list" title="Przejdź do płatności">
            <i class="fontello fontello-minimize-size icon-shopping-light"></i>
            <span>Kontynuuj zakupy</span>
          </button>
        </router-link>
      </span>
      <span class="price-summary col-lg-5 col-md-6 text-md-right text-lg-right text-sm-center col-sm-12"> Wartość produktów: {{ calcTotalPrice | toFixed(2) | toPLN}}
        <br/>
        <router-link :to="{name:'checkout'}">
          <button class="btn btn-secondary btn-list" title="Przejdź do płatności">
            <i class="fontello fontello-minimize-size icon-shopping-light"></i>
            <span>Przejdź do płatności</span>
          </button>
        </router-link>
      </span>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  data() {
    return {
      totalPrice: 0.00
    }
  },
  computed: {
    ...mapGetters([ "basket", "refresh", "error", "success", "inputsNumber", 'validationPassed']),
    calcTotalPrice() {
      let totalPrice = 0;
      this.basket.forEach(function (product) {
        totalPrice += product.count * product.price;
      });
      return totalPrice;
    }
},
  missingText: function () {
    return true;
  },
  methods: {
    ...mapMutations(['USER', 'PUSHRESPONSE']),
        deleteSelectedProductFromOrder(productID) {
          let i = this.basket.map(item => item.id).indexOf(productID) ;
          this.basket.splice(i, 1);
        },
  },
};
</script>

<style>
/* .btn-secondary {
  margin-top: 1rem;
} */

.price-summary {
  color: black;
  margin-right: .5rem;
  padding: 1rem;
  margin-left: auto;
  text-align: right;
}

.products-url {
  color: black;
  margin-right: .5rem;
  padding: 1rem;
  margin-right: auto;
  text-align: left;
}

.summary {
  border-top: 1px solid lightgray;
}

.products-list-body {
  font-weight: normal;
  border-bottom: 1px solid lightgray;
  margin-top: 1rem;
  padding: .5rem;
}

.product-name-header>a {
  color: black;
}

.products-list-body:last-child {
  border: none;
}

.products-list-header {
  padding-bottom: .5rem;
  border-bottom: 1px solid black;
}

.basket-list {
  background-color: white;
}
</style>


