<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-12 text-center'>
        <span class='header-title'>Zaloguj się</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-6 col-md-8 col-sm-10'>
          <div class="form-group">
            <label for="email">Adres e-mail</label>
            <input type="email" data-pattern="^[0-9a-zA-Z_.-]+@[0-9a-zA-Z.-]+\.[a-zA-Z]{2,3}$" @input="validField(user.username,inputsNumber,0,$event)"
              :class="{'error': inputsNumber[0]=== UNTESTED || inputsNumber[0]=== INVALID , 'success': inputsNumber[0]=== VALID}"
              class="form-control" placeholder="Podaj adres e-mail" v-model="user.username">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.email}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-6 col-md-8 col-sm-10'>
          <div class="form-group">
            <label for="password">Hasło</label>
            <input id="password" type="password" data-pattern="^[0-9a-zA-Z]{6,}$" @input="validField(undefined,inputsNumber, 1, $event)"
              :class="{'error': inputsNumber[1]=== UNTESTED || inputsNumber[1]=== INVALID , 'success': inputsNumber[1]=== VALID}"
              class="form-control" placeholder="Podaj hasło" v-model="user.password">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[1]===this.INVALID || this.inputsNumber[1]===this.UNTESTED">{{errors.password}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Zaloguj się</button>
      </div>
    </form>
    <div class="row justify-content-center">
        <router-link class="product-name-header" :to="{name:'forgot-password'}">Nie pamiętam hasła</router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
  data() {
    return {
      valid: false,
      errors: {
        email: "Podaj adres e-mail!",
        password: "Hasło musi składać się z 6 znaków!",
      },
      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED
    };
  },
  computed: {
    ...mapGetters(["user", "refresh", "logged", "error", "success", "inputsNumber", 'validationPassed'])
  },
  methods: {
    ...mapActions({
      login: 'login',
      validFormField: "validFormField",
      prepareArray: "prepareArray",
      validateForm: 'validateForm',
      clearErrors: 'clearErrors',
      clearResponse: 'clearResponse'
    }),
    ...mapMutations(['USER', 'PUSHRESPONSE']),
    validField(value, inputsNumber, inputNumber, event) {
      this.validFormField([
        value,
        inputsNumber,
        inputNumber,
        event.target.attributes["data-pattern"].value
      ]);
    },
    checkFormBeforeSubmit() {
      this.validateForm();
     
      if (this.validationPassed === true)
        this.login(this.user);
    }
  },
  watch: {
    refresh() {
      this.$emit('changeResponseTitle', this.success);
      this.user.email='';
      this.user.password='';
      this.$router.push({
        name: 'products'
      });
    },
    error() {
      this.$emit('changeTitle',this.error.message);
    }
  },
  created() {
    this.prepareArray([2, UNTESTED]);
  }
};
</script>

<style>
</style>
