<template>
  <nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#"><img id="logo" class="img-fluid" :src="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon glyphicon glyphicon-align-justify"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
        <li class="nav-item text-left">
          <router-link class="header-link" :to="{name:'products'}">Strona główna
            <span class="sr-only">(current)</span>
          </router-link>
        </li>
        <li class="nav-item text-left finder">
         <input type="text" class="search" placeholder="Wpisz nazwę modelu..." @keyup.enter="callFindProducts()" v-model="searchingVal"> <button @click="callFindProducts()" class="glyphicon glyphicon-search btn-find"></button>
        </li>
      </ul>
          <div class='user-components'>
      <button class="glyphicon glyphicon-log-in register">
        <router-link :to="{name:'register'}">Rejestracja
        </router-link>
      </button>
      <button v-if="!this.logged" class="glyphicon glyphicon-user login">
        <router-link :to="{name:'login'}">Logowanie
        </router-link>
      </button>
      <button v-if="this.logged" @click="logoutUser()" class="glyphicon glyphicon-user login">
        Wyloguj
      </button>
    </div>
    <div class="basket-container">
            <button v-if="this.logged" class="glyphicon user-orders">
                <router-link :to="{name:'user-orders'}">Twoje zamówienia
        </router-link>
      </button>
      <router-link :to="{name:'basket'}">
        <button class="glyphicon glyphicon-shopping-cart basket"></button>
        Twój koszyk {{this.getProductCount}}
      </router-link>
    </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
import logo from "@/assets/logo.png";
export default {
  data() {
    return {
      searchingVal:'',
      logo:logo
    }
  },
  computed: {
    ...mapGetters([
      "basket",
      "logged"
    ]),
    getProductCount()
    {
      let productCount = 0;
      this.basket.forEach(function (product) {
        productCount += product.count;
      });
      return productCount;
    },  

  },
  watch: {

  },
  methods: {
    ...mapActions({
      logout: 'logout',
      refreshJWTToken: 'refreshToken',
      findProducts:"findProducts",
      ...mapMutations({
        resetReady: "RESETREADY",
        resetResults:"RESETRESULTS"
      }),
    }),
    logoutUser() {
      if (localStorage.getItem('token') != null) {
        localStorage.removeItem('token');
        localStorage.removeItem('role')
        this.$emit('changeResponseTitle', "Wylogowano pomyślnie!");
        this.logout();
        this.$router.push({
          name: 'products'
        });
      }
    },
    refreshToken() {
      this.refreshJWTToken();
    },
    callFindProducts(){
          this.resetReady();
    this.resetResults();
      this.findProducts(this.searchingVal);
            this.$router.push({
          name: 'products'
        });
  }
  },

  
  created() {
    this.productCount;

  }

};

</script>

<style lang="scss">
.user-orders {
      font-size: 14pt;
    color: white;
    display: inline-block;
    font-weight: bold;
  margin-right: 2rem;
}
@media screen and  (min-width: 200px)and(max-width: 439px) {

  
   .finder {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .search {
      width: 80%;
      margin-bottom: 1rem;
    }

    .btn-find {

      &:hover {
        background-color: none;
      }
    }
  } 
  
    .user-components {
    float: left;
    .login
    {
      padding-top:.5rem;
      display: block;
      margin-left:0 !important;
    }

  }
    .basket-container {
text-align: center;
  a {
        margin-top:1rem;
  }
    }
}
@media screen and  (min-width: 440px)and(max-width: 999px) {

  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }

  .header-link {
    padding: 0 !important;
  }

  .user-components {
    float: left;
    .login
    {
      margin-top:.6rem;
    }
  }

  .basket-container {
    float: right;
    margin-left:1.5rem;
    margin-top:.6rem;
  }

  .finder {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .search {
      width: 80%;
      margin-bottom: 1rem;
    }

    .btn-find {

      &:hover {
        background-color: none;
      }
    }
  }

}

#logo {
  width: 40px;
  height: 40px;
}

.navbar-light .navbar-toggler {
  outline: none;
  padding: 0;
  position: relative;
  border: none;
}

.icon {
  color: white;
  padding: 1rem;
  font-size: 13pt;
}

.btn-find {
  color: white;
  border-radius: 5px 5px;
  outline: none;
  top: 3px;
  padding: 0.56rem 1rem;

  &:hover {
    background-color: gray;
  }
}

.search {
  background: 0 0;
  letter-spacing: 1px;
  outline: none;
  width: 30rem;
  padding: 0.5rem 1rem;
  color: black;
  font-size: 10pt;
  font-weight: normal;
  border-radius: 5px 5px;
  transition: ease-out 0.5s;
  background-color: white;
}

.sticky {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.user-components {
  margin-left: auto;

  .register {
    position: relative;
    color: white;
    outline: none;

    a {
      color: white;
      margin-left: 1rem;
    }
  }

  .login {
    position: relative;
    margin-left: 3rem;
    color: white;
    outline: none;

    a {
      margin-left: 1rem;
      color: white;
    }
  }
}

.basket-container {
  margin-left: auto;

  a {
    font-size: 14pt;
    color: white;
    display: inline-block;

  }
}

.header-link {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  color: white;
  transition: ease-out 0.5s;

  &:hover {
    text-decoration: none;
    color: rgb(240, 0, 40);
    transition: ease-in 0.5s;
  }
}


</style>

