<template>
  <nav class="" id="tabs-container">
<ul class="tabs">
  <div class="row">
    <li :key="index" v-for="(item, index) in menuItems" v-on:click="selectItem(item,index)" v-bind:class="selected == item ? 'current' :''" class="tab-link col-12 col-sm-3 col-md-3 col-lg-3" data-tab="tab-2">
     {{item}}
    </li>
  </div>
</ul>

<nav-element v-for="(item, index) in menuItems" :key="index" :index="index" :selected="selected" :model ="models[index]" :item="item"></nav-element>
  </nav>
</template>

<script>
import menuButton from '@/assets/menu-down.png';
import NavElement from "@/components/partial/SecondNavElement";
export default {
    components: {
    NavElement
  },
  data() {
    return {
      selected:'Home',
      menuItems: ['Użytkownicy', 'Komponenty', 'Zlecenia', '?'],
      models: [
        [
          'users',
          'UserCreate'
        ]
        ,
        [
        'batteries',
        'BatteryCreate',     
        'resolutions',
        'ResolutionCreate',          
        'displays',
        'DisplayCreate',                
        'memories',
        'MemoryCreate',            
        'rams',
        'RamCreate',              
        'systems',
        'SystemCreate',
        'processors',
        'ProcessorCreate',   
        'manufacturers',
        'ManufacturerCreate',
        'cameras',
        'CameraCreate'    
        ],
        [
        'orders',
        'user-orders',
        ],
        ]
    };
  },
    computed: {
        insertImage : function() {
          return menuButton;
    },
    },
    methods: {
selectItem:function(item,tabID){
  console.log(`${this.selected} oraz item ${item}`);
  if(this.selected === item)
    this.selected ="";
  else
    this.selected = item;
        }
    },
};
</script>

<style lang="scss">

.img-nav-title.col-10 {
  padding-right: 0;
  margin-right: auto;
  margin-bottom: .5rem;
  margin-left: auto;
}

.img-nav-title>button {
  margin-top: .5rem;
  border: 0;
  outline: none;
  width: 25px;
  height: 25px;
}

.img-nav-title>button:hover,
.section-title>.img-section-title>button:hover {
  box-shadow: 0 3px white;
  cursor: pointer;
}

.btn-group.col-lg-1.col-md-2.col-sm-5 {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .btn {
    height: 3rem;
    font-size: 11pt;
    background-color: #343a40;
    border-color: white;
    border: none;
    border-top: 2px solid;

    &:focus {
      outline: none;
    }
  }
}

.dropdown-menu {
  background-color: #343a40;

  .dropdown-item {
    font-size: 11pt;
  }
}

#navigation {
  margin: auto;
}

.second-panel {
  padding: 0 !important;
  margin: 0 !important;

  .col-12 {
    padding: 0;
  }
}


.tabs>.row {
  margin-left: 0;
  margin-right: 0;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  background: #343a40;
  color: white;
  border-top:2px solid white;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li:last-child {
  word-wrap: break-word;
}

.tabs>.row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

#tabs-container {
  margin-left: auto;
  margin-right: auto;
}

ul.tabs li.current {
  background: black;
  color: white;
}

.tab-content.current {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: inherit;
  background-color:white;
}

.tab-content {
  display: none;
  background: lightslategray;
  padding: 15px;
}

.panel-header {
  position: absolute;
  left:50%;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
  }

  to {
    opacity: 1;
  }
}

</style>
