<template>
    <nav class="row second-panel navigation nav-second" id="navigation">
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Użytkownicy</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'users'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'UserCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Role</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'roles'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'RoleCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Systemy</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'systems'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'SystemCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Producenci</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'manufacturers'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'ManufacturerCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Kamery</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'cameras'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'CameraCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Procesory</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'processors'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'ProcessorCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Ram</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'rams'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'RamCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-6">
        <button type="button" class="btn btn-secondary">Pamięci flash</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'memories'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'MemoryCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-6">
        <button type="button" class="btn btn-secondary">Wyświetlacze</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'displays'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'DisplayCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-5">
        <button type="button" class="btn btn-secondary">Rozdzielczości</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'resolutions'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'ResolutionCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Baterie</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'batteries'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'BatteryCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Płatności</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'payments'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'PaymentCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>

      <div class="btn-group col-lg-1 col-md-2 col-sm-5 col-4">
        <button type="button" class="btn btn-secondary">Produkty</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <router-link class="header-link" :to="{name:'smartphones'}">Lista
            <span class="sr-only">(current)</span>
          </router-link>
          <router-link class="header-link" :to="{name:'SmartphoneCreate'}">Dodaj
            <span class="sr-only">(current)</span>
          </router-link>
        </div>
      </div>
    </nav>
</template>

<script>
export default {};
</script>

<style lang="scss">
.nav-second {
  background-color: #343a40;
}
.btn-group.col-lg-1.col-md-2.col-sm-5 {
  padding:0;
  margin:0;
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  .btn {
    height: 3rem;
    font-size: 11pt;
    background-color: #343a40;
    border-color: white;
    border: none;
    border-top: 2px solid;

    &:focus {
      outline: none;
    }
  }
}

.dropdown-menu {
  background-color: #343a40;

  .dropdown-item {
    font-size: 11pt;
  }
}

#navigation {
  margin: auto;
}

.second-panel {
  padding: 0 !important;
  margin:0 !important;

  .col-12 {
    padding:0;
  }
}
</style>
