<template>
  <div id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <slot name="header">
                Dodaj opinię
              </slot>
              <slot name="close-btn">
                <button class="modal-default-button" @click="$emit('close')">
                  X
                </button>
              </slot>
            </div>
            <div class="modal-body">
              <slot name="body">
                default body
              </slot>
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button" @click="$emit('close')">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-height: calc(100vh);
  height: 90%;
  overflow-y: auto;
  min-width: 80%;
  width: 90%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

textarea {
  outline: none;
  min-height: 20rem;
  margin-top: 2rem;
  width: 100%;
  background-color: whitesmoke;
  border: 1px solid darkgray;
  font-size: 10pt;
  font-weight: 400;
  padding: 1rem;

  &:focus {
    border: 1px solid black;
  }
}

.modal-header {
  margin-top: 0;
  color: black;

  h3 {
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-body {
  margin: 20px 0;
}

h3 {
  .modal-default-button {
    position: absolute;
    left: 10%;
  }
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>