<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz dodania procesora</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="name">Nazwa procesora</label>
            <input type="text" data-pattern="^([a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]{3,}\s*[a-zA-ZZąćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9]{1,})$" @input="validField(processor.name,inputsNumber,0,$event)"
              :class="{'error': inputsNumber[0]===0, 'success': inputsNumber[0]===1}" class="form-control" placeholder="Podaj model procesora"
              v-model="processor.name">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.name}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="threads-info">Informacje o rdzeniach</label>
            <input type="text" data-pattern="[A-Za-z]{3,4}" @input="validField(processor.threads_info,inputsNumber,1,$event)" :class="{'error': inputsNumber[1]===0, 'success': inputsNumber[1]===1}"
              class="form-control" placeholder="Podaj informację na temat rdzeni" v-model="processor.threads_info">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[1]===this.INVALID || this.inputsNumber[1]===this.UNTESTED">{{errors.threads_info}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="threads-info">Liczba rdzeni</label>
            <input type="text" data-pattern="^[0-9]{1,2}$" @input="validField(processor.threads_count,inputsNumber,2,$event)" :class="{'error': inputsNumber[2]===0, 'success': inputsNumber[2]===1}"
              class="form-control" placeholder="Podaj liczbę rdzeni" v-model="processor.threads_count">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[2]===this.INVALID || this.inputsNumber[2]===this.UNTESTED">{{errors.threads_count}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="threads-info">Nazwa układu graficznego</label>
            <input type="text" data-pattern="[A-Za-z]{3,4}" @input="validField(processor.gpu_name,inputsNumber,3,$event)" :class="{'error': inputsNumber[3]===0, 'success': inputsNumber[3]===1}"
              class="form-control" placeholder="Podaj nazwę układu graficznego" v-model="processor.gpu_name">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[3]===this.INVALID || this.inputsNumber[3]===this.UNTESTED">{{errors.gpu_name}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Dodaj procesor</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
  export default {
    data() {
      return {
        valid: false,
        errors: {
          name: "Podaj poprawną nazwę dla procesora!",
          threads_info: "Podaj informację na temat rdzeni (4 rdzenie, 1.5 GHz, Cortex A53+4 rdzenie, 1.0 GHz, Cortex A53)!",
          threads_count: " Podaj odpowiednią liczbę rdzeni dla procesora!",
          gpu_name: "Podaj nazwę układu graficznego"
        },
        INVALID: INVALID,
        VALID: VALID,
        UNTESTED: UNTESTED
      };
    },
    computed: {
      ...mapGetters(["processor", "refresh", "error", "success", "inputsNumber", 'validationPassed'])
    },
    missingText: function () {
      return true;
    },
    methods: {
      ...mapActions({
        downloadProcessor: "processor",
        addProcessor: "storeProcessor",
        updateProcessor: "updateProcessor",
        validFormField: "validFormField",
        prepareArray: "prepareArray",
        validateForm: 'validateForm'
      }),
      validField(name, inputsNumber, inputNumber, event) {
        this.validFormField([
          name,
          inputsNumber,
          inputNumber,
          event.target.attributes["data-pattern"].value
        ]);
      },
      checkFormBeforeSubmit() {
        this.validateForm();
        if (this.validationPassed === true)
          this.addProcessor(this.processor);
      }
    },
    watch: {
      refresh() {
        this.$emit('changeResponseTitle', this.success);
        this.$router.push({
          name: 'processors'
        });
      },
      error() {
        this.$emit('changeTitle', this.error.message);
      }
    },
    created() {
      this.prepareArray([4, UNTESTED]);
    }
  };
</script>

<style>
</style>
