<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz dodania telefonu</span>
      </div>
          <div class='row justify-content-center'>
      <div class="col-md-8 col-xs-9">
        <div class="form-group row">
          <label for="displays">Typ wyświetlacza</label>
          <select id="displays" class="form-control" v-model="displays.name" name="display" data-pattern="[0-9]{1,}" @change="validSelectField(inputsNumber,0,$event)" :class="{'error': inputsNumber[0]=== UNTESTED || inputsNumber[0]=== INVALID , 'success': inputsNumber[0]=== VALID}" autofocus>
            <option v-for="display in displays" :key="display.id" :value="display.id">
              {{ display.name }}
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.display}}</span>
          </transition>
        </div>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class="col-md-8 col-xs-9">
        <div class="form-group row">
          <label for="resolutions">Rozdzielczość</label>
          <select id="resolutions" class="form-control" v-model="resolutions.id" name="resolution" data-pattern="[0-9]{1,}" @change="validSelectField(inputsNumber,1,$event)" :class="{'error': inputsNumber[1]=== UNTESTED || inputsNumber[1]=== INVALID , 'success': inputsNumber[1]=== VALID}" autofocus>
            <option v-for="resolution in resolutions" :value="resolution.id" :key="resolution.id">
              {{ resolution.width }} x {{ resolution.height }}
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[1]===this.INVALID || this.inputsNumber[1]===this.UNTESTED">{{errors.resolution}}</span>
          </transition>
        </div>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class="col-md-8 col-xs-9">
        <div class="form-group row">
          <label for="bateries">Bateria</label>
          <select id="bateries" class="form-control" v-model="batteries.id" name="battery" data-pattern="[0-9]{1,}" @change="validSelectField(inputsNumber,2,$event)" :class="{'error': inputsNumber[2]=== UNTESTED || inputsNumber[2]=== INVALID , 'success': inputsNumber[2]=== VALID}" autofocus>
            <option v-for="battery in batteries" :value="battery.id" :key="battery.id">
              {{ battery.capacity }} mAh {{ battery.type }}
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[2]===this.INVALID || this.inputsNumber[2]===this.UNTESTED">{{errors.battery}}</span>
          </transition>
        </div>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class="col-md-8 col-xs-9">
        <div class="form-group row">
          <label for="memories">Pamięć wewnetrzna</label>
          <select id="memories" class="form-control" v-model="memories.id" name="memory" data-pattern="[0-9]{1,}" @change="validSelectField(inputsNumber,3,$event)" :class="{'error': inputsNumber[3]=== UNTESTED || inputsNumber[3]=== INVALID , 'success': inputsNumber[3]=== VALID}" autofocus>
            <option v-for="memory in memories" :value="memory.id" :key="memory.id">
              {{ memory.size }} GB
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[3]===this.INVALID || this.inputsNumber[3]===this.UNTESTED">{{errors.memory}}</span>
          </transition>
        </div>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class="col-md-8 col-xs-9">
        <div class="form-group row">
          <label for="rams">Pamięć operacyjna RAM</label>
          <select id="rams" class="form-control" v-model="rams.id" name="ram" data-pattern="[0-9]{1,}" @change="validSelectField(inputsNumber,4,$event)" :class="{'error': inputsNumber[4]=== UNTESTED || inputsNumber[4]=== INVALID , 'success': inputsNumber[4]=== VALID}" autofocus>
            <option v-for="ram in rams" :value="ram.id" :key="ram.id">
              {{ ram.size }} GB
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[4]===this.INVALID || this.inputsNumber[4]===this.UNTESTED">{{errors.ram}}</span>
          </transition>
        </div>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class="col-md-8 col-xs-9">
        <div class="form-group row">
          <label for="manufacturers">Producent telefonu</label>
          <select id="manufacturers" class="form-control" v-model="manufacturers.id" name="manufacturer" data-pattern="[0-9]{1,}" @change="validSelectField(inputsNumber,5,$event)" :class="{'error': inputsNumber[5]=== UNTESTED || inputsNumber[5]=== INVALID , 'success': inputsNumber[5]=== VALID}" autofocus>
            <option v-for="manufacturer in manufacturers" :value="manufacturer.id" :key="manufacturer.id">
              {{ manufacturer.name }} 
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[5]===this.INVALID || this.inputsNumber[5]===this.UNTESTED">{{errors.manufacturer}}</span>
          </transition>
        </div>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class="col-md-8 col-xs-9">
        <div class="form-group row">
          <label for="cameras">Aparat</label>
          <select id="cameras" class="form-control" v-model="cameras.id" name="camera" data-pattern="[0-9]{1,2}" @change="validSelectField(inputsNumber,6,$event)" :class="{'error': inputsNumber[6]=== UNTESTED || inputsNumber[6]=== INVALID , 'success': inputsNumber[6]=== VALID}" autofocus>
            <option v-for="camera in cameras" :value="camera.id" :key="camera.id">
             Przód: {{ camera.front }} Mpix Tył: {{ camera.back }} Mpix
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[6]===this.INVALID || this.inputsNumber[6]===this.UNTESTED">{{errors.camera}}</span>
          </transition>
        </div>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class="col-md-8 col-xs-9">
        <div class="form-group row">
          <label for="systems">System operacyjny</label>
          <select id="systems" class="form-control" v-model="systems.id" name="system" data-pattern="[0-9]{1,2}" @change="validSelectField(inputsNumber,7,$event)" :class="{'error': inputsNumber[7]=== UNTESTED || inputsNumber[7]=== INVALID , 'success': inputsNumber[7]=== VALID}" autofocus>
            <option v-for="system in systems" :value="system.id" :key="system.id">
             {{ system.name }} {{ system.version }} 
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[7]===this.INVALID || this.inputsNumber[7]===this.UNTESTED">{{errors.system}}</span>
          </transition>
        </div>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class="col-md-8 col-xs-9">
        <div class="form-group row">
          <label for="processors">Procesor</label>
          <select id="processors" class="form-control" v-model="processors.id" name="processor" data-pattern="^([a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]{3,}\s*[a-zA-ZZąćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9]{1,})$" @change="validSelectField(inputsNumber,8,$event)" :class="{'error': inputsNumber[8]=== UNTESTED || inputsNumber[8]=== INVALID , 'success': inputsNumber[8]=== VALID}" autofocus>
            <option v-for="processor in processors" :value="processor.id" :key="processor.id">
             {{ processor.name }} ({{ processor.threads_info }}) układ graficzny {{ processor.gpu_name }} 
            </option>
          </select>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[8]===this.INVALID || this.inputsNumber[8]===this.UNTESTED">{{errors.processor}}</span>
          </transition>
        </div>
      </div>
    </div>
      <div class='row justify-content-center'>         
        <div class='col-md-8 col-xs-9'>
          <div class="form-group row">
            <label for="size">Nazwa modelu telefonu</label>
            <input type="text" data-pattern="[A-Za-z]{3,4}" @input="validField(smartphone.name,inputsNumber,9,$event)" :class="{'error': inputsNumber[9]=== UNTESTED || inputsNumber[9]=== INVALID , 'success': inputsNumber[9]=== VALID}"
              class="form-control" placeholder="Podaj nazwę modelu telefonu" v-model="smartphone.name">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[9]===this.INVALID || this.inputsNumber[9]===this.UNTESTED">{{errors.name}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>         
        <div class='col-md-8 col-xs-9'>
          <div class="form-group row">
            <label for="count">Ilość sztuk</label>
            <input type="text" data-pattern="[0-9]{1,}" @input="validField(smartphone.count,inputsNumber,10,$event)" :class="{'error': inputsNumber[10]=== UNTESTED || inputsNumber[10]=== INVALID , 'success': inputsNumber[10]=== VALID}"
              class="form-control" placeholder="Podaj ilość sztuk danego modelu telefonu" v-model="smartphone.count">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[10]===this.INVALID || this.inputsNumber[10]===this.UNTESTED">{{errors.count}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>         
        <div class='col-md-8 col-xs-9'>
          <div class="form-group row">
            <label for="count">Cena produktu</label>
            <input type="text" data-pattern="^[1-9][0-9]{0,2}(?:\.?[0-9]{3}){0,3}(,[0-9]{2})?$" @input="validField(smartphone.price,inputsNumber,11,$event)" :class="{'error': inputsNumber[11]=== UNTESTED || inputsNumber[11]=== INVALID , 'success': inputsNumber[11]=== VALID}"
              class="form-control" placeholder="Podaj cenę dla danego modelu telefonu" v-model="smartphone.price">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[11]===this.INVALID || this.inputsNumber[11]===this.UNTESTED">{{errors.price}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-md-8 col-xs-9'>
          <div class="form-group row">
            <input type="file" @change="onMainPhotoChanged">
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-md-8 col-xs-9'>
          <div class="form-group row">
            <input type="file" multiple="true" @change="onSmartphonePhotosChanged">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Dodaj telefon</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
  data() {
    return {
      mainPhotoFile: null,
      smartphonePhotosFile: null,
      valid: false,
      errors: {
        name: "Podaj nazwę telelonu",
        display: "Wybierz rodzaj wyświetlacza!",
        resolution: "Wybierz odpowiednią rozdzielczość!",
        battery: "Wybierz baterię!",
        price: "Podaj poprawną cenę!",
        ram: "Wybierz pamięć operacyjną RAM!",
        memory: "Wybierz pamięć wewnętrzną!",
        manufacturer: "Wybierz producenta dodawanego produktu!",
        camera: "Wybierz typ zastosowanego aparatu w urządzeniu!",
        system: "Wybierz system operacyjny!",
        processor: "Wybierz procesor!",
        count: "Podaj ilość sztuk!"
      },
      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED
    };
  },
  computed: {
    ...mapGetters([
      "refresh",
      "smartphone",
      "processors",
      "processor",
      "rams",
      "ram",
      "price",
      "displays",
      "display",
      "resolutions",
      "resolution",
      "batteries",
      "battery",
      "systems",
      "system",
      "cameras",
      "camera",
      "memories",
      "memory",
      "manufacturers",
      "manufacturer",
      "error",
      "success",
      "inputsNumber",
      "validationPassed"
    ])
  },
  methods: {
    ...mapActions({
      addSmartphone: "storeSmartphone",
      getDetails: "getDetails",
      validFormField: "validFormField",
      validSelectFormField: "validSelectFormField",
      prepareArray: "prepareArray",
      validateForm: "validateForm"
    }),
    ...mapMutations([
      "DISPLAY",
      "RESOLUTION",
      "BATTERY",
      "MEMORY",
      "RAM",
      "CAMERA",
      "SYSTEM",
      "PROCESSOR",
      "PRICE"
    ]),
    validField(name, inputsNumber, inputNumber, event) {
      this.validFormField([
        name,
        inputsNumber,
        inputNumber,
        event.target.attributes["data-pattern"].value
      ]);
    },
    validSelectField(inputsNumber, inputIndex, event) {
      this.validSelectFormField([inputsNumber, inputIndex, event.target]);
    },
    checkFormBeforeSubmit() {
      this.validateForm();
  
      const formD = new FormData();
      if (this.validationPassed === true) {
        formD.append("name", this.smartphone.name);
        formD.append("count", this.smartphone.count);
        formD.append("price", this.smartphone.price);
        formD.append("display", this.display);
        formD.append("ram", this.ram);
        formD.append("memory", this.memory);
        formD.append("camera", this.camera);
        formD.append("resolution", this.resolution);
        formD.append("battery", this.battery);
        formD.append("manufacturer", this.manufacturer);
        formD.append("system", this.system);
        formD.append("processor", this.processor);
        formD.append("photo", this.mainPhotoFile);
        if (this.smartphonePhotosFile !== null){
          for (var i = 0; i < this.smartphonePhotosFile.length; i++) {
            let file = this.smartphonePhotosFile[i];
            formD.append('source[' + i + ']', file);
          }
        }
        this.addSmartphone(formD);
      }
      /*         this.addSmartphone({
          'name' : this.smartphone.name,
          'count' : this.smartphone.count,
          'price' : this.smartphone.price,
          'display_id' : this.display,
          'ram_id' : this.ram,
          'memory_id' : this.memory,
          'camera_id' : this.camera,
          'resolution_id' : this.resolution,
          'battery_id' : this.battery,
          'manufacturer_id' : this.manufacturer,
          'system_id' : this.system,
          'processor_id' : this.processor,
          'file' : this.selectedFile
        }); */
    },
    onMainPhotoChanged(event) {
      this.mainPhotoFile = event.target.files[0];
    },
    onSmartphonePhotosChanged(event) {
      this.smartphonePhotosFile = event.target.files;
    }
  },
  watch: {
    refresh() {
      this.$emit("changeResponseTitle", this.success);
      this.$router.push({
        name: "smartphones"
      });
    },
    error() {
      this.$emit("changeTitle", this.error.message);
    }
  },
  created() {
    this.prepareArray([12, UNTESTED]);
    this.getDetails();
  }
};
</script>

<style>
select>option {
  color: white;
}
</style>
