<template>
  <div>
    <div v-if="ready == 0" class="col-lg-10 loading-container col-md-12 col-sm-12 text-center">
      <img :src="image" class="img-fluid">
    </div>
    <div v-if="ready > 0" class='container'>
      <section class='row'>
        <div class='col-lg-4 col-sm-12 col-md-12 text-lg-left text-md-center text-sm-center'>
          <div class="col-12 text-center"><span class="price-span">{{smartphone.manufacturer.name}} {{smartphone.name}}</span></div>
          <div id="carouselExampleControls" class="carousel slide col-lg-12 col-md-10 offset-sm-1 col-sm-10" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" :src="insertImage" width="200px" height="300px" alt="First slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" @click="prevImage" role="button"
              data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" @click="nextImage" role="button"
              data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-6'>
          <div class='product-spec-short text-center'>
            <ul>
              <li><span>Ekran: </span>{{smartphone.display.name}}</li>
              <li><span>Rozdzielczość: </span>{{smartphone.resolution.width}} x {{smartphone.resolution.height}} px</li>
              <li><span>Pamięć: </span>{{smartphone.memory.size}} GB</li>
              <li><span>Bateria: </span>{{smartphone.battery.capacity}} mAh</li>
            </ul>
                      <ul class="show-specification">
            <li>
              <b>Średnia ocen</b>
            </li>
            <li>
              <star-rating v-bind:increment="0.5" :read-only="true" :rating="smartphone.averageRating" class="disabled"
                v-bind:max-rating="5" inactive-color="#000" active-color="#E8C50D" v-bind:star-size="20">
              </star-rating>
              <p class='rates-count'>Ilość opinii: {{smartphone.ratesCount}}</p>
            </li>
            <li>
              <button v-if="this.logged" class="btn btn-warning btn-list" title="Dodaj opinię" @click="showModal = true">
                <i class="fontello fontello-minimize-size icon-shopping-light"></i>
                <span>Dodaj opinię</span>
              </button>
              <transition name="fade">
                <rate-modal v-if="showModal" @close="showModal = false">
                  <h3 slot="header">Dodaj opinię</h3>
                  <div slot="body">
                    <div class='container register-container'>
                      <div v-if="this.error!==''" class='error-container row'>
                        <div class='response-row'>
                          <p v-for="error in this.error.message" :key="error" class='error-message  col-12'>{{error}}</p>
                        </div>
                      </div>
                      <div v-if="this.success!==''" class='success-container row'>
                        <div class='response-row'>
                          <p class='success-message  col-12'>{{this.success}}</p>
                        </div>
                      </div>
                      <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
                        <div class='col-lg-12 text-center'>
                          <span class='header-title'>Formularz utworzenia opinii</span>
                        </div>
                        <div class='row justify-content-center'>
                          <div class='col-12'>
                            <div class="form-group text-center">
                              <star-rating v-bind:increment="0.5" v-model="rate.rate" :rating="rate.rate" :show-rating="false"
                                v-bind:max-rating="5" inactive-color="#000" active-color="#E8C50D" v-bind:star-size="20">
                              </star-rating>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group text-center">
                              <textarea v-model="rate.comment" name="comment" placeholder="Podziel się swoją opinią..."
                                data-pattern="^(.{3,})$" @input="validField(rate.comment,inputsNumber,0,$event)" :class="{'error': inputsNumber[0]=== UNTESTED || inputsNumber[0]=== INVALID , 'success': inputsNumber[0]=== VALID}">
                            </textarea>
                              <transition name="fade">
                                <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.comment}}</span>
                              </transition>
                            </div>
                          </div>
                        </div>
                        <div class="row justify-content-center">
                          <button type="submit" class="btn btn-warning btn-list">Dodaj opinię</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </rate-modal>
              </transition>
            </li>
          </ul>
          </div>
        </div>
        <div class='col-lg-4 cl-md-4 col-sm-6 price-details text-lg-center text-md-right text-lg-right text-sm-left'>
          <div class='col-12'> Cena:
            <span class="price-span">{{smartphone.price * 1 | toFixed(2) | toPLN}}</span>
          </div>
          <div class='col-12'>
            <div class='add-product'>
              <span>Ilość sztuk</span>
              <input class='product-count' type="text" v-model="count" />
              <i class="fontello fontello-minimize-size icon-shopping-light"></i>
            </div>
            <button class="btn btn-secondary btn-list" title="Dodaj do koszyka" @click="buySelectedProduct(smartphone)">
              <i class="fontello fontello-minimize-size icon-shopping-light"></i>
              <span>Dodaj do koszyka</span>
            </button>
          </div>
          <div class="row">
          </div>
        </div>
      </section>
      <section class='row'>
        <div class='col-lg-12 section-header'>Specyfikacja
          <table class="table table-hover table-striped text-left spec-table">
            <tbody>
              <tr>
                <th class="table-active">Procesor</th>
                <td>{{smartphone.processor.name}} ({{smartphone.processor.threads_info}})</td>
              </tr>
              <tr>
                <th class="table-active">Układ graficzny</th>
                <td>{{smartphone.processor.gpu_name}}</td>
              </tr>
              <tr>
                <th class="table-active">Pamięć RAM</th>
                <td>{{smartphone.ram.size}} GB</td>
              </tr>
              <tr>
                <th class="table-active">Pamięć wbudowana</th>
                <td>{{smartphone.memory.size}} GB</td>
              </tr>
              <tr>
                <th class="table-active">Układ graficzny</th>
                <td>{{smartphone.camera.front}} - przód <br />{{smartphone.camera.back}} - tył</td>
              </tr>
              <tr>
                <th class="table-active">Typ ekranu dotykowego</th>
                <td>{{smartphone.display.name}}</td>
              </tr>
              <tr>
                <th class="table-active">Rozdzielczość ekranu</th>
                <td>{{smartphone.resolution.width}} x {{smartphone.resolution.height}} px</td>
              </tr>
              <tr>
                <th class="table-active">Bateria</th>
                <td>{{smartphone.battery.capacity}} {{smartphone.battery.type}}</td>
              </tr>
              <tr>
                <th class="table-active">Zainstalowany system operacyjny</th>
                <td>{{smartphone.system.name}} {{smartphone.system.version}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
import loader from '@/assets/ajax-loader.gif';
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
import StarRating from 'vue-star-rating'
import RateModal from "@/components/partial/RateModal";
import empty from '@/assets/no_photo.jpg';
import env from '@/env';
import avatar from '@/assets/avatar.jpg';
export default {
    components: {
    StarRating,
    RateModal
  },
  data() {
    return {
      avatar,
      show: true,
      showModal: false,
      count: 0,
      image: loader,
      activeImage: 0,
      valid: false,
      errors: {
        comment: "Komentarz powinien składać się z przynajmniej dziesięciu znaków!",
      },
      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED
    };
  },
      props: {
      size: {
        type: Number,
        required: false,
        default: 3
      },
    },
  computed: {
    ...mapGetters(["logged", "error", "validationPassed", "error", "inputsNumber", "success", "smartphone", "refresh", "rate","results","ready"]),
        insertImage : function() {
          if(typeof this.smartphone.smartphoneAttachments[this.activeImage] !== 'undefined')
        return this.productsImagesURL+this.smartphone.smartphoneAttachments[this.activeImage].attachment.source;
        else
         return empty;
    },
             pageCount() {
           let l = this.smartphone.comments.length,
             s = this.size;
           return Math.floor(l / s);
         },
         paginatedData() {
           const start = this.pageNumber * this.size,
             end = start + this.size;
           return this.smartphone.comments
             .slice(start, end);
         }

  },
  methods: {
    ...mapMutations({
      setOrder: "ORDER",
      resetReady: "RESETREADY",
      resetResults: "RESETRESULTS",
      ready1: "READY",
      
    }),
    ...mapActions({
      downloadSmartphones: 'smartphones',
      deleteSmartphone: 'deleteSmartphone',
      getSelectedSmartphone: 'smartphone',
      addToBasket: "addToBasket",
      addRate: 'storeRate',
      validFormField: "validFormField",
      prepareArray: "prepareArray",
      validateForm: 'validateForm',
      clearErrors: 'clearErrors',
      clearResponse: 'clearResponse'
    }),
    buySelectedProduct(item) {
      if (this.count == 0)
        return;
      item.count = this.count;
      this.addToBasket(item);
    },
             checkFormBeforeSubmit() {
           this.validateForm();
           if (this.validationPassed === true) {
             this.rate.product_id = this.smartphone.id;
             this.addRate(this.rate);
           }
         },
         validField(name, inputsNumber, inputNumber, event) {
           this.validFormField([
             name,
             inputsNumber,
             inputNumber,
             event.target.attributes["data-pattern"].value
           ]);
         },
         nextPage() {
           this.pageNumber++;
           this.show = false;
           this.resetReady();
           setTimeout(function () {
             this.ready1();
           }.bind(this), 1500);
           this.show = true;
         },
         prevPage() {
           this.pageNumber--;
           this.show = false;
           this.resetReady();
           setTimeout(function () {
             this.ready1();
           }.bind(this), 1500);
           this.show = true;
         },
    nextImage() {
      var active = this.activeImage + 1;
      if (active >= this.smartphone.smartphoneAttachments.length) {
        active = 0;
      }
      this.activateImage(active);
    },

    prevImage() {
      var active = this.activeImage - 1;
      if (active < 0) {
        active = this.smartphone.smartphoneAttachments.length - 1;
      }
      this.activateImage(active);
    },
    activateImage(imageIndex) {
      this.activeImage = imageIndex;
    },
  },
  watch: {
    refresh() {
           setTimeout(function () {
             this.clearErrors('');
             this.clearResponse('');
           }.bind(this), 3000);
    },
         error() {
         this.$emit('changeTitle', this.error.message);
       },
  },
  created() {
    this.prepareArray([1, UNTESTED]);
    this.productsImagesURL = env.API_URL + 'public/uploads/photos/';
    if (this.ready == 0 && this.results == 0) {
      setTimeout(function () {
        this.getSelectedSmartphone(this.$route.params.id);
      }.bind(this), 2000);
    }
    if (this.results == 1) {
      setTimeout(function () {
        this.ready1();
      }.bind(this), 1500);
    }
  },
  beforeDestroy() {
    this.resetReady();
    this.resetResults();
  }
}; 
</script>
 
<style lang="scss" scoped>
.slide-fade-enter-active {
  transition: all 2s ease-in;
}

.slide-fade-leave-active {
  transition: all .1s ease-out;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}

.form-group>.vue-star-rating {
  margin: auto;
  display: inline-block;
}


@media only screen and (max-width: 864px) {
  .sm-text-center {
    text-align: center !important;
  }

  .sm-text-center:last-of-type {
    margin-top: -1rem;
    margin-bottom: 3rem;
  }

  .comment-content {
    margin-top: -.5rem !important;
    margin-bottom: 3rem;
  }
}

#pagination-container {
  position: absolute;
  margin-top: 1rem;
  top: 85%;
}

.comments-row {
  margin-left: -15px;
  margin-right: -15px;
  padding: 2rem;
  position: relative;
  font-size: 12pt;

  .avatar {
    width: 3rem;
    height: 3rem;
  }

  .comment-created {
    padding: 0;
    margin: 0;
    position: relative;
    top: -4rem;
    left: 7rem;
    font-size: 9pt;
  }

  .comment-header {
    font-size: 12pt;
  }

  .comment-content {
    word-wrap: break-word;
    margin-top: .8rem;
    font-size: 12pt;
  }

  .row {
    margin-top: 1rem;
    padding-bottom: 2rem;
  }
}
slide-fade-enter-active {
  transition: all 2s ease-in;
}

.slide-fade-leave-active {
  transition: all .1s ease-out;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}

.form-group>.vue-star-rating {
  margin: auto;
  display: inline-block;
}

@media only screen and (max-width: 864px) {
  .sm-text-center {
    text-align: center !important;
  }

  .sm-text-center:last-of-type {
    margin-top: -1rem;
    margin-bottom: 3rem;
  }

  .comment-content {
    margin-top: -.5rem !important;
    margin-bottom: 3rem;
  }
}

#pagination-container {
  position: absolute;
  margin-top: 1rem;
  top: 85%;
}

.comments-row {
  margin-left: -15px;
  margin-right: -15px;
  padding: 2rem;
  position: relative;
  font-size: 12pt;

  .avatar {
    width: 3rem;
    height: 3rem;
  }

  .comment-created {
    padding: 0;
    margin: 0;
    position: relative;
    top: -4rem;
    left: 7rem;
    font-size: 9pt;
  }

  .comment-header {
    font-size: 12pt;
  }

  .comment-content {
    word-wrap: break-word;
    margin-top: .8rem;
    font-size: 12pt;
  }

  .row {
    margin-top: 1rem;
    padding-bottom: 2rem;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

.show-specification {
  li {
    p {
      font-size: 10pt;
      font-weight: bold;
    }
  }
}

.spec-table {
  tr {
    text-align: left;
    font-size: 12pt;
  }

  td {
    font-weight: normal;
  }
}

.price-details {
  margin-top: 1rem;
}

.price-details {
  .row {
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  background-color: white;
}

.product-count {
  text-align: center;
  width: 15%;
  border-radius: 50px 50px 50px 50px;
  border: 1px solid black;
}

.section-header {
  padding: 2rem;
  font-size: 15pt;
}

.price-span {
  font-size: 22pt;
}

.add-product {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-spec-short {
  li {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .col-lg-4 {
    div {
      margin-top: 1rem;
      text-align: center;
      display: block;
    }
  }
}

input:focus {
  outline: 0;
}

li {
  span {
    font-weight: bold;
  }
}

li {
  font-weight: normal;
  list-style-type: none;
  color: black;
}

.carousel-control-next-icon {
  color: black;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
</style>
 
