<template>
  <div class='products-list'>
    <div class="row">
<products-panel/>
      <div v-if="ready == 0" class="col-lg-10 loading-container col-md-12 col-sm-12 text-center">
      <img :src="image" class="img-fluid">   
      </div>
      <div  v-if="ready > 0" class='col-lg-10 col-md-12 col-sm-12'>
        <smartphone-card v-for="smartphone in paginatedData" :productsImagesURL ="productsImagesURL" :smartphone="smartphone" :key="smartphone.id"> </smartphone-card>
        <div :key="pageNumber" id="pagination-container" class="col-lg-3">
          <button :disabled="pageNumber==0" :class="{'btn-disabled' : pageNumber == 0}" @click="prevPage">
            Poprzednia
          </button>
          <b>{{pageNumber+1}}</b> .. {{pageCount+1}}
          <button :disabled="pageNumber > pageCount -1" :class="{'btn-disabled' : pageNumber == pageCount}" @click="nextPage">
            Następna
          </button>
        </div>
      </div>
    </div>
      </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
import SmartphoneCard from "@/components/smartphones/SmartphoneCard";
import ProductsPanel from "@/components/partial/ProductsPanel";
import env from '@/env'
import loader from '@/assets/ajax-loader.gif';
export default {
  components: {
    SmartphoneCard,
    ProductsPanel
  },
  data() {
    return {
      pageNumber: 0,
      image:loader,
    };
  },
  props: {
    size: {
      type: Number,
      required: false,
      default: 4
    },
    productsImagesURL:0
  },
  computed: {
    ...mapGetters(["smartphones", "success", "results", "ready", "logged", "refresh", "order", "orderIcons"]),
    pageCount() {
      let l = this.smartphones.length,
        s = this.size;
      return Math.floor(l / s);
    },
    paginatedData() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.smartphones
        .slice(start, end);
    }
  },
  methods: {
    ...mapMutations({
      setOrder: "ORDER",
      resetReady: "RESETREADY",
      resetResults:"RESETRESULTS",
      ready1:"READY",
    }),
    ...mapActions({
      downloadSmartphones: 'smartphones',
      
      nextPage() {
        this.pageNumber++;
        this.resetReady();
            setTimeout(function(){ this.ready1(); }.bind(this), 1500);
      },
      prevPage() {
        this.pageNumber--;
        this.resetReady();
            setTimeout(function(){ this.ready1(); }.bind(this), 1500);
      }
    }),
  },
  watch: {
    logged() {
      this.$emit('changeResponseTitle', this.success);
      this.resetReady();
      setTimeout(function() {
        this.downloadSmartphones();
      }
      .bind(this), 2000);
    },
    refresh() {
      this.$emit("changeResponseTitle", `Produkt dodano do koszyka !`);
    },
    results() {
      if(this.results==1) {
        setTimeout(function() {
          this.ready1();
        }
        .bind(this), 1500);
      }
    }
    },
    created() {
      this.productsImagesURL=env.API_URL+'public/uploads/photos/';
      if(this.ready==0 && this.results==0) {
        setTimeout(function() {
          this.downloadSmartphones();
        }
        .bind(this), 2000);
      }
      if(this.results==1) {
        setTimeout(function() {
          this.ready1();
        }
        .bind(this), 1500);
      }
    },
  beforeDestroy() {
    this.resetReady();
    this.resetResults();
  }
};
</script>

<style lang="scss">
button {
  outline: none !important;
}

#pagination-container {
  position: absolute;
  top: 100%;
}

.loading-container {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-disabled {
  color: gray;
  opacity: 0.7;
}

#nav-list {
  height: 100%;
}

.products-list {
  background-color: white;
  padding: 3rem
}
</style>
