<template>
  <div class='product-item col-lg-3 col-md-6 col-sm-12'>
    <div class='product-img row'>
      <div class='col-lg-12 col-md-8 col-sm-8'> <router-link :to="{path: `smartphones/${smartphone.id}`}"><img :src="insertImage"></router-link>
    
      </div>  </div>
    <div class="description-wrapper">
      <router-link :to="{path: `smartphones/${smartphone.id}`}">
        <span class='product-name-header'>{{ smartphone.manufacturer.name }} {{ smartphone.name }} </span>
      </router-link>
      <ul class='features'>
        <li>
          <span class='feature-header'>Rozdzielczość</span> {{ smartphone.resolution.width }} x {{ smartphone.resolution.height }} px </li>
        <li>
          <span class='feature-header'>Procesor</span> {{ smartphone.processor.name }}</li>
        <li>
          <span class='feature-header'>Pamieć RAM</span> {{ smartphone.ram.size }} GB </li>
        <li>
          <span class='feature-header'>Pamięć</span> {{ smartphone.memory.size }} GB </li>
        <li>
          <span class='feature-header'>System</span> {{ smartphone.system.name }} {{ smartphone.system.version }} </li>
        <li>
          <span class='feature-header'>Bateria</span> {{ smartphone.battery.capacity}} mAh</li>
      </ul>
    </div>
    <div class='product-price'>
      {{smartphone.price * 1 | toFixed(2) | toPLN}}
    </div>
    <div v-if="this.user.role == 'administrator'">
      <router-link :to="{path: `smartphones/${smartphone.id}/edit`}">
        <button id="myButton" class='btn btn-secondary btn-list mb-2'>Edytuj</button>
      </router-link>
            <button class='btn btn-danger btn-list mb-2' @click="deleteSelectedSmartphone(smartphone.id)">Usuń</button>
    </div>
    <button class='btn btn-secondary btn-list btn-add-to-cart' @click="buySelectedProduct(smartphone)">Dodaj do koszyka</button>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
import empty from '@/assets/no_photo.jpg';
export default {
  props: ['smartphone','productsImagesURL'],
  data() {
    return {
    };
  },
  computed: {
    ...mapGetters(["smartphones", "basket", "user", "success", "refresh", "order", "orderIcons"]),
    insertImage : function() {
      if(this.smartphone.photo !==null)
        return this.productsImagesURL+this.smartphone.photo;
      else
        return empty;
    }
  },
  methods: {
    ...mapMutations({
      setOrder: "ORDER",
    }),
    ...mapActions({
      addToBasket: 'addToBasket',
      downloadSmartphones: 'smartphones',
      deleteSmartphone: "deleteSmartphone",
    }),
    buySelectedProduct(item) {
      item.count = 1;
      this.addToBasket(item);
    },
    deleteSelectedSmartphone(id) {
    this.deleteSmartphone(id);
    },
  },
  watch: {
    refresh() {
      this.$router.push({
        name: 'basket'
      });
      // this.downloadSmartphones();
    },
  },
  created() {
    // this.downloadSmartphones();
  },
};
</script>
<style lang="scss">

.product-img {
  margin-left: 0;
  margin-right: 0;
  :first-child {
    padding-left: 0;
    padding-right: 0;
  }
}

.product-price {
  text-align: left;
  font-size: 13pt;
  padding-bottom: .7rem;
  font-weight: bold;
}

.product-img img {
  width: 18rem;
  height: 15rem;
}

.btn-add-to-cart {
  margin-bottom: 1.5rem;
}

.btn-add-to-cart {
  color: white;
  background-color: black;
}

.product-item {
  border-right: 1px solid lightgray;
  display: inline-block;
}

.product-item.col-md-6 {
  margin-top: 2rem;
}

@media screen and (min-width: 1000px) {
  .product-item:nth-child(4n) {
    border-right: none;
  }
}

@media screen and (max-width: 999px) {
  .product-item:nth-child(2n) {
    border-right: none;
  }
}

@media screen and (max-width: 600px) {
  .product-item:nth-child(1n) {
    border-right: none;
  }
}

.features li {
  color: #7c7c7c;
  line-height: 1.3em;
}

.features {
  margin-top: .5rem;
  padding-left: 0;
  text-align: left;
  list-style-type: none;
  font-size: 10.5pt;
  font-weight: normal;
}

.product-name-header {
  color: black;
}

.products-list {
  background-color: white;
  padding: 3rem
}

</style>
