<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz edycji systemu operacyjnego</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="height">Nazwa</label>
            <input type="text" data-pattern="^[A-ZĄĘŹŻŁÓŁa-ząęźżół]{1,}.[A-ZĄĘŹŻŁÓŁa-ząęźżół]{1,}$" @input="validField(system.name,inputsNumber,0,$event)"
              :class="{'error': inputsNumber[0]===0, 'success': inputsNumber[0]===1}" class="form-control" placeholder="Podaj nazwę"
              v-model="system.name">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.name}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="height">Wersja systemu operacyjnego</label>
            <input type="text" data-pattern="[A-ZĄĘŹŻŁÓŁa-ząęźżół0-9.]{3,}" @input="validField(system.version,inputsNumber,1,$event)"
              :class="{'error': inputsNumber[1]===0, 'success': inputsNumber[1]===1}" class="form-control" placeholder="Podaj nazwę"
              v-model="system.version">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[1]===this.INVALID || this.inputsNumber[1]===this.UNTESTED">{{errors.version}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Edytuj system operaycjny</button>
      </div>
    </form>
  </div>
</template>

<script>
 import { mapGetters, mapMutations, mapActions } from "vuex";
 import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
 export default {
   data() {
     return {
       valid: false,
       errors: {
         name: "Podaj poprawną nazwę dla systemu operacyjnego!",
         version: "Podaj wersję dodawanego systemu operacyjnego!"
       },
       INVALID: INVALID,
       VALID: VALID,
       UNTESTED: UNTESTED
     };
   },
   computed: {
     ...mapGetters(["system", "refresh", "error", "success", "inputsNumber", 'validationPassed'])
   },
   methods: {
     ...mapMutations(["SYSTEM", 'PUSHRESPONSE']),
     ...mapActions({
       getSystem: "system",
       validFormField: "validFormField",
       prepareArray: "prepareArray",
       validateForm: 'validateForm',
       downloadSystems: 'systems',
       updateSystem: 'updateSystem'
     }),
     checkFormBeforeSubmit() {
       this.validateForm();
       if (this.validationPassed === true)
         this.updateSystem(this.system);
       else
         alert("Błąd");
     },
     validField(name, inputsNumber, inputNumber, event) {
       this.validFormField([
         name,
         inputsNumber,
         inputNumber,
         event.target.attributes["data-pattern"].value
       ]);
     },
   },
   watch: {
     refresh() {
       this.$emit('changeResponseTitle', this.success);
       this.$router.push({
         name: 'systems'
       });
     },
     error() {
       this.$emit('changeTitle', this.error.message);
     }
   },
   created() {
     this.prepareArray([2, VALID]);
     this.getSystem(this.$route.params.id);
     this.system;
   },
 }
</script>
 
<style>
</style>
 