<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz edycji komentarza</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="comment">Komentarz</label>
            <input type="text" data-pattern="^(.{3,})$" @input="validField(comment.comment,inputsNumber,0,$event)" :class="{'error': inputsNumber[0]===0, 'success': inputsNumber[0]===1}"
              class="form-control" placeholder="Podaj pojemność dla baterii" v-model="comment.comment">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.comment}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Edytuj komentarz</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {

  data() {
    return {
      valid: false,
      errors: {
        comment: "Napisz poprawny komentarz!",
      },
      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED
    };
  },
  computed: {
    ...mapGetters(["comment", "refresh", "error", "success", "inputsNumber", 'validationPassed'])
  },
  methods: {
    ...mapMutations(["COMMENT", 'PUSHRESPONSE']),
    ...mapActions({
      getComment: "comment",
      validFormField: "validFormField",
      prepareArray: "prepareArray",
      validateForm: 'validateForm',
      updateComment: "updateComment"
    }),
    checkFormBeforeSubmit() {
      this.validateForm();
      if (this.validationPassed === true)
        this.updateComment(this.comment);

    },
    validField(name, inputsNumber, inputNumber, event) {
      this.validFormField([
        name,
        inputsNumber,
        inputNumber,
        event.target.attributes["data-pattern"].value
      ]);
    },
  },
  watch: {
    refresh() {
      this.$emit('changeResponseTitle', this.success);
      this.$router.push({
        name: 'comments'
      });
    },
    error() {
      this.$emit('changeTitle', this.error.message);
    }
  },
  created() {
    this.prepareArray([1, VALID]);
    this.getComment(this.$route.params.id);
    this.comment;
  },
}
</script>

<style>
</style>
 